<div id="question-container">
  <div class="container">
    <%= render "shared/notifications" %>

    <div class="title">
      <h3>【質問】</h3>
      <%= @question.title %>
    </div>

    <hr>

    <div class="detail">
      <h3>【詳細】</h3>
      <p>エラーの内容</p>
      <%= markdown(@question.detail).html_safe %>
    </div>

    <hr>

    <div class="solution">
      <h3>【回答】</h3>
      <% @question.solutions.each do |solution| %>
        <%= markdown(solution.solution_content).html_safe %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <h1>回答投稿</h1>
    <%= form_for [@question, @solution] do |f| %>
      <div class="field">
        <p class="text-left">【回答】</p>
        <%= f.text_area :solution_content, class: 'form-control', rows: 5 %>
      </div></br>
      <%= f.submit "送信", class: "btn btn-primary btn-lg btn-block", data: {confirm: "投稿しますか？"} %>
    <% end %>
  </div>
</div>
