<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <%= link_to "Gyakuten", '/', class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
          <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rails</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="nav-item nav-link active text-danger" href="/">動画教材</a>
                <%= link_to "テキスト教材", texts_path, class: "nav-item nav-link active text-danger" %>
                <a class="nav-item nav-link active text-danger" href="#">ライブコーディング</a>
                <%= link_to "質問集", questions_path, class: "nav-item nav-link active text-danger" %>
              </div>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">AWS講座</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">PHP講座</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">対談</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">情報発信</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">動画編集講座</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">ライティング講座</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">LINE@</a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to  "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
      </ul>
  </div>
</nav> 
