<div class="container-login">
  <%= render 'shared/notifications' %>
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group">
      <%= f.label "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
    </div>

    <div class="field form-group">
      <%= f.label "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field form-group">
        <%= f.check_box :remember_me %>
        <%= f.label "次回から自動的にログインする" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログインする", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
